[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
python-dotenv = "*"
faiss-cpu = "*"
sentence-transformers = "*"
pypdf = "*"
llama-cpp-python = "*"
tqdm = "*"
numpy = "*"
huggingface-hub = "*"
colorama = "*"
cachetools = "*"
ollama = "*"
rapidocr-onnxruntime = "*"
rank-bm25 = "*"

[dev-packages]

[requires]
python_version = "3.10"
